@keyframes line-scale {
  0% {
    transform: scaley(1); }
  50% {
    transform: scaley(0.4); }
  100% {
    transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(2) {
  animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(3) {
  animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(4) {
  animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(5) {
  animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div {
  background-color: white;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block; }

.home {
  background-color: #bce9ff;
  min-height: 100vh; }
  .home .texts {
    padding-top: 10px;
    text-align: center; }
    .home .texts.title {
      font-size: 3em; }
  .home .mirror {
    padding-top: 25px;
    text-align: center; }
    .home .mirror .text-area {
      resize: none;
      width: 234px;
      height: 149px;
      border-radius: 8px;
      border: transparent;
      padding: 10px;
      box-shadow: #909090 3px 3px 15px 0px;
      margin: 0px; }
      .home .mirror .text-area:focus {
        outline: none; }
    .home .mirror .result-container {
      font-size: 1.5em; }
      .home .mirror .result-container .success-box {
        padding: 20px; }
        .home .mirror .result-container .success-box .text {
          text-align: justify; }
          .home .mirror .result-container .success-box .text.title {
            font-weight: bold;
            text-decoration: underline; }
  .home .loader-hidden {
    display: none; }
  .home .loader-active {
    display: block; }
